#!/usr/bin/make -f

include debian/common.rules

BUILDTARGETS = ekg ekg-dbg ekg-ioctld

ISPOTATO = `apt-cache show debhelper|grep "Version: 2"`
configure:
	if [ ! -z "$(ISPOTATO)" ]; then touch potato-build;fi
	dh_testdir
	

build: configure
	touch build-stamp

install: build

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	sed "s/\.TH\ EKG\ n/\.TH\ EKG\ 1/g"<docs/ekg.man.pl>debian/ekg.1
	sed "s/\.TH\ EKL2\ n/\.TH\ EKL2\ 1/g"<docs/ekl2.man.pl>debian/ekl2.1
	if [ -d examples/CVS ]; then rm -fr examples/CVS;fi
	if [ -f ChangeLog ]; then mv ChangeLog changelog;fi

# build TARGET's and install files to aproperiate directories.
	-for t in $(BUILDTARGETS);\
	do \
	$(MAKE) -f debian/$$t.rules binary;\
	done

# make packages
	dh_installdocs
#	dh_movefiles
	dh_strip -Nekg-dbg -Nekg-dev-dbg
	dh_installchangelogs -A
	dh_fixperms
	dh_compress
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
